<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <session-config>
        <cookie-config>
            <secure>true</secure>
        </cookie-config>
    </session-config>

    <!--Filter-->
    <!--<filter>-->
    <!--<filter-name>BasicAuthorizationFilter</filter-name>-->
    <!--<filter-class>com.jim.filter.BasicAuthorizationFilter</filter-class>-->
    <!--<init-param>-->
    <!--<param-name>username</param-name>-->
    <!--<param-value>liujun</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
    <!--<param-name>password</param-name>-->
    <!--<param-value>1</param-value>-->
    <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>BasicAuthorizationFilter</filter-name>-->
    <!--<url-pattern>/login</url-pattern>-->
    <!--</filter-mapping>-->

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.jim.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/order</url-pattern>
    </filter-mapping>

</web-app>